<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">

</head>

<body>



<div th:replace="fragments :: page-header"></div>



<div class="container body-content">



    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <div th:if = "${jobs != null}">





        <table th:each="job : ${jobs}" class="job-listing">

            <tr th:each="mapItem : ${job}">

                <td th:text="${mapItem.key}">Key</td>

                <td th:text="${mapItem.value}">Value</td>

            </tr>



        </table>

    </div>

    <!-- TODO #3 - Use the same list display from search.html -->



</div>



</body>

</html>